<table id="vetados" class="display" style="width:50%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Identificacion cliente</th>
            <th>Nombre cliente</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody id="bodyVetados" class="bodyVetados" style="width:100%">
        <tr *ngFor="let vetado of vetados | async">
            <td>{{vetado.id}}</td>
            <td>{{vetado.idCliente}}</td>
            <td>{{vetado.nombreCliente}}</td>
            <td> <button class="button" (click)="eliminar(vetado.id)">Eliminar</button> </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>