<h1>Crear Vetado</h1>
<form [formGroup]="formularioVetado">
  <div class="row">
    <div class="col-sm-2">
      <label>Id Cliente:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="idVetado" name="idVetado" placeholder="Id del cliente" class="form-control"
        formControlName="idCliente">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Nombre CLiente:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="nombreVetado" name="nombreVetado" placeholder="Nombre del cliente"
        class="form-control" formControlName="nombreCliente">
    </div>
  </div>
  <div class="row">
      <button id="botonGuardarVetado" (click)="crear()">Guardar</button>
  </div>
</form>
