<h1>Crear Mesa</h1>
<form [formGroup]="formulario">
  <div class="row">
    <div class="col-sm-2">
      <label>Nombre:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="nombreMesa" name="nombreMesa" placeholder="Nombre de la mesa" class="form-control"
        formControlName="nombre">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Contidad Maxima Comensales:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="number" id="cantidadMaximaComensales" name="cantidadMaximaComensales" placeholder="Numero maximo Comensales"
        class="form-control" formControlName="cantidadMaximaComensales">
    </div>
  </div>
  <div class="row">
      <button id="botonCrearMesa" (click)="crear()">Guardar</button>
  </div>
</form>

