<table id="tablaMesas" style="width:50%">
    <thead>
        <tr>
            <th> <span class="badge bg-success me-3"></span>Id</th>
            <th>Nombre</th>
            <th>Cantidad Comensales</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody id="bodyMesas" class="bodyMesas" style="width:100%">
        <tr *ngFor="let mesa of listaMesas | async">
            <td>{{mesa.id}}</td>
            <td>{{mesa.nombre}}</td>
            <td>{{mesa.cantidadMaximaComensales}}</td>
            <td> <button class="button" (click)="eliminar(mesa.id)">Eliminar</button> </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>